<!DOCTYPE html>
<html>

<head>
    <!-- 引入 layui.css -->
    <link rel="stylesheet" href="https://www.layuicdn.com/layui-v2.6.8/css/layui.css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://www.layuicdn.com/layui-v2.6.8/layui.js"></script>
</head>
<script>
    $(function () {
        layui.use(['laydate'], function () {
            let laydate = layui.laydate
            let dateTime = laydate.render({
                elem: '#time',
                type: 'time'
            });
        })

    })


    function submitForm() {
        let path = $("#dirList").val();
        let time = $("#time").val()
        let cachePath = $("#cachePath").val()
        let password = $("#password").val()
        let appId = $("#app-id").val()
        let appKey = $("#app-key").val()
        let secretKey = $("#secret-key").val()
        let signKey = $("#sign-key").val()
        console.log(path, time, cachePath, password, appKey, appId, secretKey, signKey)

        $.ajax("/add", {
            data: {
                "appId": appId,
                "secretKey": secretKey,
                "appKey": appKey,
                "password": password,
                "path": path,
                "cachePath": cachePath,
                "dateTime": time,
                "signKey": signKey
            },
            type: 'POST',
            dataType: 'json',
            success: function (res) {
                console.log(res)
                let code = res.code
                let success = res.success
                let message = res.message
                let data = res.data
                if (code === 200 && success === true) {
                    window.alert("复制这行号码："+data.user_code)
                    window.open(data.verification_url)
                } else {
                    alert(message)
                }
            }
        })
    }


</script>
<body>
<div id="main">
    <div class="layui-container">
        <div class="layui-row layui-col-space2">
            <div class="layui-col-md5">
                <div class="layui-col-md3">
                    <span style="font-size: 16px">填写文件路径:</span>
                </div>
                <div class="layui-col-md9">
                    <input name="dirList" class="layui-input custom_input" style="width: 300px"
                           id="dirList" th:value="${path}">
                </div>
            </div>
            <div class="layui-col-md5">
                <div class="layui-col-md3">
                    <span style="font-size: 16px">选择时间</span>
                </div>
                <div class="layui-col-md9">
                    <input name="time" id="time" class="layui-input custom_input" style="width: 300px" value="">
                </div>
            </div>

        </div>

        <div class="layui-row layui-col-space2">
            <div class="layui-col-md5">
                <div class="layui-col-md3">
                    <span style="font-size: 16px">填写缓存路径</span>
                </div>
                <div class="layui-col-md9">
                    <input class="layui-input" style="width:300px " name="cachePath" id="cachePath" th:value="${cachePath}">
                </div>
            </div>
            <div class="layui-col-md5">
                <div class=" layui-col-md3">
                    <span>填写加密密码:&nbsp;</span>
                </div>
                <div class="layui-col-md9">
                    <input id="password" type="text" class="layui-input custom_input"
                           style=" width: 300px" th:value="${password}">
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space2">
            <div class="layui-col-md5">
                <div class="layui-col-md3">
                    <span style="font-size: 16px">百度网盘AppId:&nbsp;</span>
                </div>
                <div class="layui-col-md9">
                    <input name="AppId" class="layui-input custom_input"
                           style=" width: 300px" id="app-id" th:value="${appId}">
                </div>
            </div>
            <div class="layui-col-md5">
                <div class="layui-col-md3">
                    <span style="font-size: 16px">百度网盘AppKey:&nbsp;</span>
                </div>
                <div class="layui-col-md9">
                    <input name="appKey" class="layui-input custom_input"
                           style=" width: 300px" id="app-key" th:value="${appKey}">
                </div>
            </div>

        </div>

        <div class="layui-row layui-col-space2">
            <div class="layui-col-md5">
                <div class="layui-col-md3">
                    <span style="font-size: 16px">百度网盘SecretKey:&nbsp;</span>
                </div>
                <div class="layui-col-md9">
                    <input name="SecretKey" class="layui-input custom_input" style=" width: 300px" id="secret-key"
                           th:value="${secretKey}">
                </div>
            </div>
            <div class="layui-col-md5">
                <div class="layui-col-md3">
                    <span style="font-size: 16px">百度网盘SignKey:&nbsp;</span>
                </div>
                <div class="layui-col-md9">
                    <input name="SignKey" class="layui-input custom_input" style=" width: 300px" id="sign-key"
                           th:value="${signKey}">
                </div>
            </div>
        </div>

        <div class="layui-row layui-col-space2">
            <div class="layui-col-md5">
                <button class="layui-btn" id="submit_btn" onclick="submitForm()">添加</button>
            </div>
        </div>


    </div>


</div>

</body>
<style type="text/css">
    #main {
        padding-top: 40px;

    }
</style>
</html>