<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>接入百度网盘</title>
    <link rel="stylesheet" href="https://www.layuicdn.com/layui-v2.6.8/css/layui.css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://www.layuicdn.com/layui-v2.6.8/layui.js"></script>
</head>
<script type="text/javascript">

</script>
<body>
<div class="layui-container">

    <div class="layui-col-space2">
        <div class="layui-col-md5">
            <div class="layui-col-md3">
                百度网盘客户端扫码确认
            </div>
        </div>
        <div class="layui-col-md5">
            <img th:src="${url}" style="height: 100px;width: 100px"/>
        </div>

    </div>


</div>

</body>
</html>