<!DOCTYPE html>
<html>

<head>
    <!-- 引入 layui.css -->
    <link rel="stylesheet" href="https://www.layuicdn.com/layui-v2.6.8/css/layui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://www.layuicdn.com/layui-v2.6.8/layui.js"></script>

</head>
<script th:inline="javascript">
    var HttpHost = window.location.url;
    $(function () {
        layui.use(['laydate', 'layer'], function () {
            let laydate = layui.laydate
            let layer = layui.layer
            let dateTime = laydate.render({
                elem: '#time',
                type: 'time'
            });
        })


        //请求日志接口
        setInterval(() => {


        }, 10000)

        //渲染日志log
        function viewLog(data) {
            let types = ['正常运行时', '运行时警告', '运行时错误']
            let tbody = document.querySelector('tbody')
            for (let i = 0; i < data.length; i++) {
                var tr = document.createElement("tr")
                var time = document.createElement("td")
                time.innerHTML = data[i].createTime
                var msg = document.createElement('td')
                msg.innerHTML = data[i].message
                var type = document.createElement('td')
                type.innerHTML = types[data[i].type]
                tr.appendChild(time)
                tr.appendChild(msg)
                tr.appendChild(type)
                tbody.appendChild(tr)
            }
        }

    })


    function submitForm() {
        let path = $("#dirList").val();
        let time = $("#time").val()
        let cachePath = $("#cachePath").val()
        let password = $("#password").val()
        let appId = $("#app-id").val()
        let appKey = $("#app-key").val()
        let secretKey = $("#secret-key").val()
        let signKey = $("#sign-key").val()
        let taskNum = $("#task-num").val()

        let version = $("#version").val()
        $.ajax("/add", {
            method: 'post',
            data: {
                "path": path,
                "time": time,
                "cachePath": cachePath,
                "password": password,
                "appId": appId,
                "appKey": appKey,
                "secretKey": secretKey,
                "signKey": signKey,
                "taskNum": taskNum,
                "version": version
            },
            dataType: 'json',
            success: function (res) {
                console.log(res)
                var html = "<span id='login_box_text'>使用百度网盘手机客户端扫描二维码（" + res.data.expires / 60 + "分钟后过期）</span>" +
                    "<img src='" + res.data.qrcode + "' style='width: 100px;height: 100px'/>" +
                    "<span id='login_box_message'>用户授权码：" + res.data.userCode + "</span>"

                $("#login_box").html(html)
            }
        })
    }


    function submit() {
        $("#setting-form").submit()
    }

    function authConfirm(ctx) {
        $.ajax(ctx + '/netDiskConfirmOk', {
            type: 'POST',
            dataType: 'json',
            complete: function (res) {
                console.log(res)
                let response = res.responseJSON
                if (response.success === false) {
                    layer.msg(response.message)
                } else {
                    layer.msg("程序启动成功，将会在固定时间段执行任务")
                }
            }
        })
    }

    //下载日志
    function downLoadLog() {

    }

</script>
<body>
<div id="main">

        <input hidden id="version" name="version" th:value="${version}">
        <div class="layui-container">
            <div class="layui-row layui-col-space2">
                <div class="layui-col-md5">
                    <div class="layui-col-md3">
                        <span style="font-size: 16px">填写文件路径:</span>
                    </div>
                    <div class="layui-col-md9">
                        <input name="path" class="layui-input custom_input" style="width: 300px"
                               id="dirList" th:value="${path}">
                    </div>
                </div>
                <div class="layui-col-md5">
                    <div class="layui-col-md3">
                        <span style="font-size: 16px">选择时间</span>
                    </div>
                    <div class="layui-col-md9">
                        <input name="dateTime" id="time" class="layui-input custom_input" style="width: 300px"
                               th:value="${dateTime}">
                    </div>
                </div>

            </div>

            <div class="layui-row layui-col-space2">
                <div class="layui-col-md5">
                    <div class="layui-col-md3">
                        <span style="font-size: 16px">填写压缩包存放路径</span>
                    </div>
                    <div class="layui-col-md9">
                        <input class="layui-input" style="width:300px " name="cachePath" id="cachePath"
                               th:value="${cachePath}">
                    </div>
                </div>
                <div class="layui-col-md5">
                    <div class="layui-col-md3">
                        <span>填写加密密码:&nbsp;</span>
                    </div>
                    <div class="layui-col-md9">
                        <input id="password" name="password" type="text" class="layui-input custom_input"
                               style=" width: 300px" th:value="${password}">
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space2">
                <div class="layui-col-md5">
                    <div class="layui-col-md3">
                        <span style="font-size: 16px">AppId:&nbsp;</span>
                    </div>
                    <div class="layui-col-md9">
                        <input name="appId" type="text" class="layui-input custom_input"
                               style=" width: 300px" id="app-id" th:value="${appId}"/>
                    </div>
                </div>
                <div class="layui-col-md5">
                    <div class="layui-col-md3">
                        <span style="font-size: 16px">AppKey:&nbsp;</span>
                    </div>
                    <div class="layui-col-md9">
                        <input name="appKey" type="text" class="layui-input custom_input"
                               style=" width: 300px" id="app-key" th:value="${appKey}">
                    </div>
                </div>

            </div>

            <div class="layui-row layui-col-space2">
                <div class="layui-col-md5">
                    <div class="layui-col-md3">
                        <span style="font-size: 16px">SecretKey:&nbsp;</span>
                    </div>
                    <div class="layui-col-md9">
                        <input name="secretKey" type="text" class="layui-input custom_input" style=" width: 300px"
                               id="secret-key"
                               th:value="${secretKey}">
                    </div>
                </div>
                <div class="layui-col-md5">
                    <div class="layui-col-md3">
                        <span style="font-size: 16px">SignKey:&nbsp;</span>
                    </div>
                    <div class="layui-col-md9">
                        <input name="signKey" type="text" class="layui-input custom_input" style=" width: 300px"
                               id="sign-key"
                               th:value="${signKey}">
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space2">
                <div class="layui-col-md5">
                    <div class="layui-col-md3">
                        <span style="font-size: 16px">上传并行数量</span>
                    </div>
                    <div class="layui-col-md9">
                        <select id="task-num" name="taskNum" class="layui-select" style="width: 300px">
                            <option th:each="item:${taskNumList}" th:selected="${taskNum} eq ${item}"
                                    th:text="${item}"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="layui-row layui-col-space2">
                <div class="layui-col-md5">
                    <button class="layui-btn" onclick="submitForm()">修改</button>
                    <!--                    <button class="layui-btn"  type="submit">修改</button>-->
                </div>
            </div>
        </div>

    <div id="login_box" style="display: inline-grid">

    </div>
</div>


</div>

</body>
<style type="text/css">
    #main {
        padding-top: 40px;

    }

</style>
</html>