<!DOCTYPE html>
<html>
<head>
    <!-- 引入 layui.css -->
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
    <!-- 引入 layui.js -->
    <script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>
</head>
<script>
   function login(){
       let user = $("#user").val();
       let password = $("#password").val()
       $.ajax({
           type:'POST',
           url:" /doLogin",
           data:{
               account:user,
               password:password
           },
           dataType:"JSON",
           success:res=>{
                if (res.code === 200){
                    window.location.href = "/adminIndex"
                }
           }
       })

   }
</script>
<body id="login_bd">


<div id="input-model">
    <input name="account" id="user" value=""
           required lay-verify="required" placeholder="输入账号" autocomplete="off" class="layui-input">


    <input name="password" id="password" type="password" value=""
           required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">

    <button id="login_btn" onclick="login()" class="layui-btn">登录</button>
</div>


</body>
<style type="text/css">
    #login_bd {
        align-content: center;
        max-height: 3840px;
        max-width: 2160px;
    }

    #input-model {
        padding-top: 400px;
        padding-left: 30%;
    }
  #password{
      margin-top: 40px;
      width: 20%;
  }
  #user{
      width: 20%;
  }
  #login_btn{
      width: 20%;
      margin-top: 10px;
  }



</style>
</html>